body {
    margin: 0px;
    height: 100%;
    background-color: black;
    display: block;
}

div { 
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    margin: auto;
    cursor: zoom-in;
}

header {
    background: white;	
    padding: 10px;
}

div.post {
    background: #E0E0E0;
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
    border-top: 1px solid transparent;
    width: 90%;
    max-width: 800px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

div.post img {
    width: 100%;
    transition: transform 0.3s ease;
    overflow-clip-margin: content-box;
    overflow: clip;
}
div.post.zoom img {
   transform: scale(1.5);
}

div.post h2, div.post p {
    padding: 10px;
    margin: 0;
}

div.post .post-header div:first-child{ 
    display: inline-block;
    width: 80%;  
}

div.post .post-header div:last-child{ 
    display: inline-block;
    width: 98%;
    padding: 10px;
    text-align: right;
    color: gray;
}

header h1 {
    margin: 0;
}

div.container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

h2 {
    color: black;
}