body {
    background: gray;
}

header {
    background: white;
    text-align: center;
    padding: 10px;
}
div.post {
    background: white;
}
div.post img {
    width: 100%;
}
div.post h2, div.post p {
    padding: 10px;
}
div.post .post-header div:first-child{ 
    display: inline-block;
    background: pink;
    
}
header h1 {
    margin: 0;
}
div.container {
    margin: auto;
    width: 600px;
}